body{
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/984/892/original/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg);
}
#table{
    text-align: center;
}